@import 'bootstrap/bootstrap';

/* Variables */
//Fonts
$fontFamily: 'Poppins', Arial, sans-serif;
$fontSizeSmall: 14px;
$fontSizeNormal: 16px;
$fontSizeBig: 30px;

//Colors Theme
$ColorPrimary: #212121;
$ColorPrimaryLight: #484848;
$ColorPrimaryDark: #000000;
$ColorSecondary:#f5f5f5;
$ColorSecondaryLight: #ffffff;
$ColorSecondaryDark: #c2c2c2;
$ColorPrimaryText: #f5f5f5;
$ColorSecondaryText: #424242;
$transitionFast: .5s;




//Others
$sidebarDimension: 100%;

/* Placeholders */
%clearOrnaments {
	text-decoration: none !important;
	outline: none !important;
	box-shadow: none;
}

body {
	font-family: $fontFamily;
	font-size: $fontSizeSmall;
	line-height: 1.8;
	transition: background 2s;
}

/*Sidebar Setting*/
#sidebar {
	background-color: $ColorSecondary;
	position: fixed;
	bottom: 0;
	flex-direction: column;
	min-width: $sidebarDimension;
	max-width: $sidebarDimension ;
	height: 100%;
	color: $ColorSecondaryText;
	z-index: 2;
	transition: margin-left $transitionFast;

	/* Active Sidebar affect sidebar and toggle-menu */
	&.active {
		margin-left: -$sidebarDimension;
		transition: margin-left $transitionFast;

		.toggle-menu {
				margin-right: -75px;
				transition: margin-right $transitionFast;
			}
	}

	a {
		font-size: .8rem;
	}

	ul {
		li {
			font-size: $fontSizeNormal;

			>ul {
				margin-left: 10px;

				li {
					font-size: $fontSizeSmall;
				}
			}

			a {
				padding: 10px 0;
				display: block;
				color: $ColorSecondaryText;
				border-bottom: 1px solid rgba(0, 0, 0, .1);
				@extend %clearOrnaments;

				span {
					color: $ColorSecondaryText;
				}

				&:hover {
					color: $ColorSecondaryText;

				}
			}

			& {
				>a.active {
					color: $ColorSecondaryText;

					background-color: $ColorSecondaryLight;
					transition: all 1s;
					span {
						color: $ColorSecondaryDark;
					}
				}
			}
		}
	}

	/*Toggle menu setting (avoid to change it)*/
	.toggle-menu {
		display: inline-block;
		position: absolute;
		top: 20px;
		right: 10%;
		z-index: 2;
		transition: all $transitionFast;
		.btn {
			width: 85px;
			height: 85px;
			border-radius: 50%;
			position: relative;

			span {
				margin-right: -40px;
				font-size: 16px;
				color: $ColorSecondaryText;
			}

			&.btn-primary {
				background: transparent;
				border-color: transparent;

				&:after {
					z-index: -1;
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					content: '';
					transform: rotate(45deg);
					background: $ColorSecondary;
					border-radius: 10px;
				}

				&:hover, &:focus {
					@extend %clearOrnaments;
					background: transparent !important;
					border-color: transparent !important;
				}
			}
		}
	}

	.sidebar-header .logo {
		img {
			width: 16vh;
			aspect-ratio: 1/1;
		}
	}

	.form-control {
		color: $ColorSecondaryText;
		font-size: .9rem;

		&:focus,
		&:active {
			border-color: $black;
		}

		&::-webkit-input-placeholder,
		&::-moz-placeholder,
		&:-ms-input-placeholder,
		&:-moz-placeholder {
			/* Chrome/Opera/Safari */
			color: rgba(0, 0, 0, .5);
		}


	}

	.form-floatin{
		label {
			font-size: .8rem;
		}
	}

	a[data-toggle="collapse"] {
		position: relative;
	}

	.sidebar-inner {
		flex: auto;
		padding: 1rem 1rem;
	}

	.sidebar-header {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 1rem 1rem;
	}

	.sidebar-body {
		flex: auto;
		padding: .5rem .5rem;
	}

	.sidebar-footer {
		p {
			color: $ColorSecondaryText;
		}
	}

	.footer{
		p {
			position: absolute;
			text-align: center;
			width: 85%;
			bottom: 0;
			font-size: 9px;
		}
	}
	.form-floating label {
		font-size: .8rem;
	}

	@include media-breakpoint-up(sm) {
		min-width: 250px !important;
		max-width: 250px !important;
		&.active {
			margin-left: -250px !important;
			.toggle-menu{
				margin-right: -66px;
			}
		}

		.form-floating label {
			font-size: .9rem;
		}

		a {
			font-size: .8rem;
		}
		.toggle-menu{
			margin-right: -66px;
		}
	}

	/*Sidebar MediaQuery*/
	@include media-breakpoint-up(md) {
		min-width: 270px !important;
		max-width: 270px !important;
		&.active {
			margin-left: -270px !important;
			.toggle-menu{
				margin-right: -66px;
			}
		}
		a {
			font-size: 0.9rem;
		}
		.toggle-menu{
			margin-right: -66px;
		}
	}

	@include media-breakpoint-up(lg) {
		min-width: 300px !important;
		max-width: 300px !important;
		&.active {
			margin-left: - 300px !important;
			.toggle-menu{
				margin-right: -70px;
			}
		}
		a {
			font-size: 0.9rem;
		}
		.toggle-menu{
			margin-right: -70px;
		}
	}

}

#content {

	width: 100%;
	min-height: 100vh;

	.img-slider {
		object-fit: cover;
		max-width: 100%;
		min-height: 100vh;

		aspect-ratio: 3/1;
	}

	.carousel-item.active {
		img {
			animation: zoooming ease 10s
		}
	}
}

#first-section {
	color: $ColorPrimaryText;
}

#third-section {
	color: $ColorPrimaryText;
}

#second-section {
	color: $ColorSecondaryText;
}

#about-section {
	color: $ColorSecondaryText;
}


@keyframes zoooming {
	0% {
		transform: scale(1.0);
	}

	100% {
		transform: scale(1.1);
	}
}

.custom-shape-divider-bottom-1661957639 {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	overflow: hidden;
	line-height: 0;
}

.custom-shape-divider-bottom-1661957639 svg {
	position: relative;
	display: block;
	width: calc(117% + 1.3px);
	height: 25vh;
}

.custom-shape-divider-bottom-1661957639 .shape-fill {
	fill: #000000;
}

.custom-shape-divider-top-1661958724 {
	position: absolute;
	top: 0;
	z-index: 1;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);
}

.custom-shape-divider-top-1661958724 svg {
	position: relative;
	display: block;
	width: calc(160% + 1.3px);
	height: 186px;
}

.custom-shape-divider-top-1661958724 .shape-fill {
	fill: #000000;
}

.custom-shape-divider-bottom svg {
	position: relative;
	display: block;
	width: calc(117% + 1.3px);
	height: 25vh;
}

.custom-shape-divider-bottom .shape-fill {
	fill: #000000;
}
.demo-text .text {
	font-size: clamp(3rem, 3vw, 3rem);
	line-height: 1;
	font-weight: 900;
}